<%= error_messages_for(@list) %>

			<div class="form-group">
				<%= f.label(:name)  %>

				<%= f.text_field(:name, :class => 'form-control')  %>
			</div>
			<div class="form-group">
		
				<%= f.label(:category)  %>
				<%= f.text_field(:category, :class => 'form-control') %>
			</div>
			<div class="form-group">
				<%= f.label(:background)  %>
				<div style='display:block'>
			  <label class='labelbox'>
			  	<%= f.radio_button(:background, "1") %>
			    <%= image_tag('1_small.jpg') %>
			  </label>
			  
			  <label class='labelbox'>
			    <%= f.radio_button(:background, "2") %>
			    <%= image_tag('2_small.jpg') %>
			  </label>
			  
			  <label class='labelbox'>
			    <%= f.radio_button(:background, "3") %>
			    <%= image_tag('3_small.jpg') %>
			  </label>
			</div>
			</div>
