



<div class="well">
	<%= link_to("<span class='glyphicon glyphicon-arrow-left'></span> Back to lists".html_safe, {:action => 'index'}, :class => 'btn btn-default') %>
	<h2>Show List</h2>

	<table summary="List detail view">
		<tr>
			<th>User ID</th>
			<td><%= @list.user_id %></td>
		</tr>
		<tr>
			<th>Name</th>
			<td><%= @list.name %></td>
		</tr>
		<tr>
			<th>Category</th>
			<td><%= @list.category %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @list.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @list.updated_at %></td>
		</tr>
	</table>
	<table class='table table-hover'>
		<tr><th>ID</th>
		<th>Title</th>
		<th>TMDB ID</th>
		<th>Comment</th>
		<th>Rating</th>
		<th>Action</th></tr>
		<% @movies.each do |movieL| %>
			<tr>
				<td><%= movieL.id %></td>
				<td><%= movieL.movie.title %></td>
				<td><%= movieL.movie.tmdb_id %></td>
				<td><%= movieL.comment %></td>
				<td><%= movieL.rating %></td>
				<td>
			        <%= link_to('<span class="glyphicon glyphicon-pencil"></span>'.html_safe, {:controller => 'movie_lists', :action => 'edit', :id => movieL.id}, :class => 'btn btn-default') %>
			        <%= link_to('<span class="glyphicon glyphicon-remove-circle"></span>'.html_safe, {:controller => 'movie_lists', :action => 'destroy', :id => movieL.id}, :class => 'btn btn-default') %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
