<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <%= stylesheet_link_tag('application', :media => 'all') %>
     <%= stylesheet_link_tag('dropdown', :media => 'all') %>
     <%= javascript_include_tag('public') %>
    <title>Filmania |</title>
  </head>
  <% if user_signed_in? %>
    <body style="background-image: url(<%= asset_path( @chosen_list.background ) %>);">
  <% else %>
   <body>
  <% end %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="top-container">
        <div class="top-innhold">
          <div class="pull-right">
            <ol class="breadcrumb">

              <% if user_signed_in? %>
                <li><%= link_to("Sign out", destroy_user_session_path, :method => :get) %></li>
               
              <% else %>
                <li><%= link_to("Sign up", new_user_registration_path) %></li>
                <li><%= link_to("Sign in", new_user_session_path) %></li>
              <% end %>
            </ol>
          </div>
      </div>
    </div>
      
    </nav>
    <div class="navcontainer">
        <div class="row" >
          <div class="col-md-4">
          <h1 style="font-size: 50px;color:white;font-weight:300;z-index:-10">Filmania</h1>
          </div>
          <div class="col-md-4 text-center">
          <div class='link-menu'>
                <a href="#" class='menyknapp settings pull-right' data-jq-dropdown="#jq-dropdown-1"></a>
                <%= link_to("", {:controller => 'movies', :action => 'index'}, class: 'menyknapp movie-reel pull-right') %>
                <%= link_to('Edit registration', edit_user_registration_path, class: 'menyknapp user pull-right') %>
                
              </div>
          </div>
          <div class="col-md-4">
            <h1 class="pull-right" style="font-size: 50px;color:white;font-weight:300;">
              <%=  @username  %>
              
            </h1>
          </div>
          
        </div>
      </div>
    <div class="container da">
    <div id="main">
      <% if !flash[:notice].blank? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div id="content">
<div class="movies index">

  
  	<div class="row" summary="List list" style='margin-top:10px;'>
      <% if @movies.blank? %>

        <div class="alert alert-info">
          <h3>List empty.</h3>
        </div>
      <% else %>
        <% @movies.each do |movieL| %>
        <% plakat = movieL.movie.poster %>
          <% if plakat.blank? %>
              <% plakat = asset_path(noposter.png) %>
          <% end %>
          <div class="col-md-3 shadow"  style='height:255px;width:170px;margin:10px;padding:0px'>
            <div class="grow">
              
              <a href='#' data-toggle="modal" data-target="#exampleModal" data-film="<%= movieL.movie.title %>" data-bilde="http://image.tmdb.org/t/p/original<%= plakat %>" data-id="<%= movieL.movie.id %>" data-rating="<%= movieL.movie.vote_avarage %>" data-release="<%= movieL.movie.release_date %>"><img src="http://image.tmdb.org/t/p/w185/<%= plakat %>" width="170px"></a>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">sds</h4>
            </div>
            <div class="modal-body">
                <div class='row'>
                  <div class='col-md-6'>
                    <img src='nofind' class='picture'>
                  </div>
                  <div class='col-md-6 text-left'>
                    <div class="form-group">
                <label for="title">Title</label>
                <p class='title'></p>
             </div>
             <div class="form-group">
                <label for="release">Release date</label>
                <p class='release'></p>
             </div>
             <div class="form-group">
                <label for="rating">Rating</label>
                <p class='rating'></p>
             </div>
    
             
                  </div>

                </div>
                <hr>
                <h4>Choose a list</h4>
                
                      
                    </div>
                    <div class="modal-footer">
                      
                  
              
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    

                  
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(function(){
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var film = button.data('film');
        var bilde = button.data('bilde');
        var release = button.data('release');
        var rating = button.data('rating');
        var id = button.data('id');
        var modal = $(this);
        modal.find('.modal-title').text(film);
        modal.find('.title').text(film);
        modal.find('.release').text(release);
        modal.find('.rating').text(rating);
        modal.find('.picture').attr("src", bilde);
        modal.find('.hidden_id').attr("value", id);
    });
});
</script>
</div>
      <div id="footer">
        
      </div>
    </div>
  </div>
  
  <div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip" >
    <ul class="jq-dropdown-menu">
      
        
      
        <% @all_lists.each do |list| %>
              <li><%= link_to(list.name, "/?username=#{@username}&list=#{list.id}") %></li>
        <% end %>
              </ul>
          </div>
      
  </body>
  <%= javascript_include_tag :bootstrap %>
  <%= javascript_include_tag :dropdown %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</html>
