
<div class="well">
	<h2 style="margin-bottom:30px">Movies in Filmania database <%= link_to("Search", {:action => 'search'}, class: 'btn btn-default pull-right') %></h2>
	<% @movies.each do |movies| %>
	
		<ul class="media-list">
			<li class="media">
    			<div class="media-left">
    				<a href="/movies/show/<%= movies.id %>">
						<img class="media-object" src="http://image.tmdb.org/t/p/w154<%= movies.poster %>">
					</a>	
				</div>
		<div class="media-body">
      		<h4 class="media-heading"><%= movies.title %></h4>
      		<table class="table">
      			<tr><td>Runtime:</td><td><%= movies.runtime %></td></tr>
      			<tr><td>Overview:</td><td><%= movies.overview %></td></tr>
      			<tr><td>Rating:</td><td><%= movies.vote_avarage %></td></tr>
      		</table>
    </div>
  </li>
</ul>

	<% end %>
</div>


