
<div class="well">
	<div class="row">
		<div class="col-md-6">
			<h2>Seach movies</h2>

			<%= form_tag(:action => 'search') do %>
			<div class="form-group">
				<%= label_tag(:MovieName) %>
	  			<%= text_field_tag(:q, "",:class => 'form-control') %>
	  		</div>

	  		<div class="form-group">
	  			<%= submit_tag("Search", :class => 'btn btn-default') %>
	  		</div>
		<% end %>
	</div>
<div class="col-md-6">
	<h2>Advanced search</h2>

			<%= form_tag(:action => 'search') do %>
			<div class="form-group">
				<%= label_tag(:Release_date) %>
				<div class='form-inline'>
	  			<%= date_select(:date_from, "fra") %>
	  			<%= date_select(:date_to, "til") %>

	  		</div>
	  		<div class="form-group">
				<%= label_tag(:Rating) %>
				<div class='form-inline'>
				<%= text_field_tag 'ex1', '5.0', :data => {"slider-id" => 'ex1Slider', "slider-min" => '0', "slider-max" => '9.9', "slider-step" => '0.1', 'slider-value' => '0.1'} %>
				<%= text_field_tag 'ex2', '5.0', :data => {"slider-id" => 'ex1Slider', "slider-min" => '0', "slider-max" => '9.9', "slider-step" => '0.1', 'slider-value' => '9.9'} %>
			</div>
	  			<div>
	  				
	  			</div>
	  		</div>
	  		
	  		<div class="form-group">
	  			<%= submit_tag("Search", :class => 'btn btn-default') %>
		<% end %>
</div>
</div>
</div>

<script>
  $('#myButton').on('click', function () {
    var $btn = $(this).button('loading')
    // business logic...
    $btn.button('reset')
  })
</script>

