<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	   <%= stylesheet_link_tag('application', :media => 'all') %>
     <%= javascript_include_tag('public') %>
	  <title>Filmania |</title>
	</head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="top-container">
        <div class="top-innhold">
          <div class="pull-right">
            <ol class="breadcrumb">
              <% if user_signed_in? %>
                <li><%= link_to("Sign out", destroy_user_session_path, :method => :get) %></li>
                <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
              <% else %>
                <li><%= link_to("Sign up", new_user_registration_path) %></li>
                <li><%= link_to("Sign in", new_user_session_path) %></li>
              <% end %>
            </ol>
          </div>
      </div>
    </div>
      
    </nav>
    <div class="navcontainer">
        <div class="row" >
          <div class="col-md-6">
          <h1 style="font-size: 50px;color:white;font-weight:300;z-index:-10">Filmania</h1>
          </div>
          <div class="col-md-6 ">
          <h1 class="pull-right" style="font-size: 50px;color:white;font-weight:300;">
          <%= link_to("", {:controller => 'lists', :action => 'index'}, :class => 'menyknapp pull-left') %>
          <%= user_signed_in? ? current_user.username : "No username" %>
          </h1>
          </div>
        </div>
      </div>
    <div class="container well">
		<div id="main">
			<% if !flash[:notice].blank? %>
				<div class="alert alert-success">
					<%= flash[:notice] %>
				</div>
			<% end %>
			<div id="content">
				<!-- before yield -->
				<%= yield %>
				<!-- after yield -->
			</div>
			<div id="footer">
				<p id="copyright">&copy; gamsmania.com / Henning H. Haugen</p>
			</div>
		</div>
	</div>
	</body>
  <%= javascript_include_tag :bootstrap %>
</html>
