<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	   <%= stylesheet_link_tag('application', :media => 'all') %>
     <%= javascript_include_tag('public') %>
     <%= stylesheet_link_tag('slider', :media => 'all') %>

	  <title>Filmania |</title>
	</head>
  <% if @background %>
  <body style='background-image:url(<%= @background%>)'>
  <% else %>
  <body>
  <% end %>
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="top-container">
        <div class="top-innhold">
          <div class="pull-right">
            <ol class="breadcrumb">
              <% if user_signed_in? %>
                <li><%= link_to("Sign out", destroy_user_session_path, :method => :get) %></li>
              <% else %>
                <li><%= link_to("Sign up", new_user_registration_path) %></li>
                <li><%= link_to("Sign in", new_user_session_path) %></li>
              <% end %>
            </ol>
          </div>
      </div>
    </div>
      
    </nav>
    <div class="navcontainer">
        <div class="row" >
          <div class="col-md-4">
          <h1 class="h1title">Filmania</h1>
          </div>
          <div class="col-md-4 text-center">
          <div class='link-menu'>
                <%= link_to("", {:controller => 'movie_lists', :action => 'index'}, class: 'menyknapp poster pull-right') %>
                <%= link_to("", {:controller => 'lists', :action => 'index'}, class: 'menyknapp settings pull-right') %>
                <%= link_to("", {:controller => 'movies', :action => 'index'}, class: 'menyknapp movie-reel pull-right') %>
                <%= link_to('Edit registration', edit_user_registration_path, class: 'menyknapp user pull-right') %>
                
              </div>
          </div>
          <div class="col-md-4">
            <h1 class="pull-right h1title">
              <%= user_signed_in? ? current_user.username : "" %>
              
            </h1>
          </div>
          
        </div>
      </div>
    <div class="container">
		<div id="main">
			<% if !flash[:notice].blank? %>
				<div class="alert <%= flash[:class] %> alert-dismissible" role="alert" id="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<%= flash[:notice] %>
				</div>
			<% end %>
			
				<!-- before yield -->
				<%= yield %>
				<!-- after yield -->
			
			<div id="footer" style="height:50px">
			</div>
		</div>
	</div>
	</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <%= javascript_include_tag :bootstrap %>
  <%= javascript_include_tag :slider %>
  <script>
  $('#ex1').slider({
});
  $('#ex2').slider({
});

  </script>


  
</html>
